/* .red {
  color: red;
}

.blue {
  color: blue;
}

.pink {
  background-color: pink;
  border: 2px solid black;
}

.text {
  background-color: blue;
  color: white; 
} */


/* div {
  height: 100px;
  width: 400px;
  border: 1px solid black;
  text-align: center;
  margin: auto;
} */ 

.green {
  background-color: green;
} 

